{% extends "BusetaTransitoBundle::layout.html.twig" %}

{% block title block('header') %}

{% block header 'Modificar Accidente' %}

{% block header_right %}
    {% from '@BusetaTemplate/Macros/macros.html.twig' import documentState %}

    <h4 class="pull-right">
        {{ documentState(entity.estado, 'BusetaTransitoBundle') }}
    </h4>
{% endblock %}

{% block area_trabajo %}

    {% include '@BusetaTransito/Accidente/form_template.html.twig' with {'form': edit_form} %}

{% endblock area_trabajo %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $('input#transito_accidente_fecha').datetimepicker({
            'format': 'DD/MM/YYYY'
        });
        $('select#transito_accidente_vehiculo').chosen();
        $('select#transito_accidente_chofer').chosen();
        $('select#transito_accidente_responsable').chosen();
        $('select#transito_accidente_quienPaga').chosen();
        {% if entity.responsable != ''%}
        $('div#accidente_responsable').css({visibility: 'visible'});
        {% endif %}
        {% if entity.quienPaga != ''%}
        $('div#accidente_quien_paga').css({visibility: 'visible'});
        {% endif %}
        $(document).ready(function () {
            $('select#transito_accidente_responsable').val('{{ entity.responsable }}');
            $('select#transito_accidente_responsable').trigger("chosen:updated");
            $('select#transito_accidente_quienPaga').val('{{ entity.quienPaga }}');
            $('select#transito_accidente_quienPaga').trigger("chosen:updated");

        });
    </script>

{% endblock %}
