{% extends "BusetaTransitoBundle::layout.html.twig" %}

{% block title block('header') %}

{% block header 'Modificar Accidente' %}

{% block header_right %}
    {% from '@BusetaTemplate/Macros/macros.html.twig' import documentState %}

    <h4 class="pull-right">
        {{ documentState(entity.estado, 'BusetaTransitoBundle') }}
    </h4>
{% endblock %}

{% block area_trabajo %}

    {% include '@BusetaTransito/Accidente/form_template.html.twig' with {'form': edit_form} %}

{% endblock area_trabajo %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        $('input#transito_accidente_fecha').datetimepicker({
            'format': 'DD/MM/YYYY'
        });
        $('select#transito_accidente_vehiculo').chosen();
        $('select#transito_accidente_chofer').chosen();
    </script>

{% endblock %}
